{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <title>500 :(</title>
    <link rel="stylesheet" href="{% static 'err.css' %}">
{% endblock %}

{% block content %}
    <div id="container">
        <div id="content">
            <h1>
                500
            </h1>
            <p>
                Got Lost Buddy? 
                <br>
                <a href="{% url 'generatorApp:home' %}">Homepage</a>
            </p>
        </div>
    </div>
{% endblock %}
